@font-face {
    src: url("../fonts/Tippa.ttf");
    font-family: "Tippa";
}

@font-face {
    src: url("../fonts/Essays1743-Bold.ttf");
    font-family: "Essays1743-Bold";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    width: inherit;
    list-style: none;
    justify-content: center;
    align-content: center;
}

a {
    text-decoration: none;
}

/* HEADER*/
header {
    position: fixed;
    width: 100%;
    z-index: 1;
    font-size: 18px;
    transition: all 0.5s ease-out;
}
.max-header {
    background-color: #000000;
    height: 180px;
}
.min-header {
    background-color: #AF0000;
    height: 120px;
}

/*=====CONTAINERS=====*/
.container {
    padding: 0;
    margin: 0 auto;
}
.container-menu {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 60px;
    display: grid;
    grid-template-areas:
        "lgo ... nav";
    grid-auto-columns: auto 1fr auto;
    align-content: center;
}

/*=====LOGO-BANDA=====*/
.logo {
    grid-area: lgo;
}
.max-logo svg {
    width: 250px;
    height: auto;
    fill: #ff0000;
}
.min-logo svg {
    width: 160px;
    height: auto;
    fill: #000000;
}

/*=====MENU DE MIDIAS SOCIAIS=====*/
.midia {
    justify-content: center;
}
.facebook {
    grid-area: mnu;
}
.max-facebook svg {
    width: 20px;
    fill: #ffffff;
}
.min-facebook svg {
    width: 15px;
    fill: #ffffff;
}
.youtube {
    grid-area: mnu;
}
.max-youtube svg {
    width: 24px;
    fill: #ffffff;
}
.min-youtube svg {
    width: 19px;
    fill: #ffffff;
}
.instagram {
    grid-area: mnu;
}
.max-instagram svg {
    width: 21px;
    fill: #ffffff;
}
.min-instagram svg {
    width: 16px;
    fill: #ffffff;
}
.spotify {
    grid-area: mnu;
}
.max-spotify svg {
    width: 23px;
    fill: #ffffff;
}
.min-spotify svg {
    width: 18px;
    fill: #ffffff;
}

/*=====NAV BAR=====*/
.nav-bar {
    grid-area: nav;
    display: grid;
    align-content: flex-end;
}
.nav-bar #menu1 {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 50px;
    justify-content: center;
}
.nav-bar #midia {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 30px;
    padding: 10px; 
    justify-content: center;
}
.nav-bar a {
    position: relative;
    font-family: "Essays1743-Bold";
    text-transform: uppercase;
    transition: all 0.4s ease-out;
}
.nav-bar #menu1 a::before {
    content: "";
    position: absolute;
    top: -1px;
    width: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform-origin: left;
    transform: scaleX(0);
    transition: all 0.2s ease-out;
}
.nav-bar #menu1 a:hover::before {
    transform: scaleX(1);    
}
.nav-bar #menu1 a::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform-origin: right;
    transform: scaleX(0);
    transition: all 0.2s ease-out;
}
.nav-bar #menu1 a:hover::after {
    transform: scaleX(1);    
}

.nav-bar #midia a:hover path {
	fill: #ff0000;
}

.max-nav a {
    font-size: 1em;
    color: #ffffff;
}
.min-nav a {
    font-size: 0.875em;
    color: #000000;
}

.ghost {
    width: 100%;
    height: 175px;
    background-color: #ff0000;
}

@media(max-width: 768px) {
    .max-header {
        height: 140px;
    }

    .min-header {
        height: 100px;
    }

    .container-menu {
        position: relative;
        padding: 0 20px;
        grid-template-areas:
            "lgo ... mnu";
    }

    .max-logo svg {
        width: 180px;
        height: auto;
        fill: #ff0000;
    }

    .min-logo svg {
        width: 140px;
        height: auto;
        fill: #000000;
    }

    .menu {
        grid-area: mnu;
        display: grid;
        align-content: center;
    }
    
    .hamburger {
        position: relative;
        width: 50px;
        height: 5px;
        transition: all 0.4s ease-out;
    }
    .hamburger::before {
        content: "";
        position: absolute;
        top: -12px;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.4s ease-out;
        background-color: #ff0000;
    }
    .hamburger::after {
        content: "";
        position: absolute;
        top: 12px;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.4s ease-out;
        background-color: #ff0000;
    }
    .max-hamburger, .max-hamburger::before, .max-hamburger::after {
        background-color: #ff0000;
    }
    .min-hamburger, .min-hamburger::before, .min-hamburger::after {
        background-color: #ff0000;
    }
    .close-btn {
        width: 50px;
        transform: rotateZ(45deg);
    }
    .close-btn::before, .close-btn::after{
        top: 0;
        transform: rotateZ(90deg);
    }

    .nav-bar {
        position: absolute;
        top: 80px;
        left: 0;
        width: 100% ;
        height: calc(100vh - 140px);
        align-content:flex-start;
        background-color: rgba(99, 00, 00, 0.9);
        transform-origin: 20px;
        transform: translateX(100%);
        transition: all 0.5s ease-out;
    }
    .nav-bar #menu1 {
        display: grid;
        grid-auto-flow: row;
        grid-gap: 20px;
        padding-bottom: 10px;
    }
    .max-facebook svg {
    width: 40px;
    }
    .min-facebook svg {
        width: 30px;
    }
    .max-youtube svg {
        width: 44px;
    }
    .min-youtube svg {
        width: 34px;
    }
    .max-instagram svg {
        width: 41px;
    }
    .min-instagram svg {
        width: 32px;
    }
    .max-spotify svg {
        width: 43px;
    }
    .min-spotify svg {
        width: 33px;
    }
    
    .max-nav {
        top: 140px;
        height: calc(100vh - 140px);
    }
    .min-nav {
        top: 100px;
        height: calc(100vh - 100px);
    }

    .menu-opened {
        transform: translateX(0);
    }

    .nav-bar li {
        text-align: center;
        font-size: 1.8em;
    }

    .min-nav a {
        font-size: 1em;
        color: #ffffff;
    }
}

main {
    position: relative;
    font-size: 18px;
    max-width: 100%;
}

main section {
    padding-top: 140px;
    display: grid;
    justify-content: space-around;
    align-content: flex-start;
    font-family: "Tippa";
    font-size: 1em;
    color: #ffffff;
}

main section:nth-child(odd) {
    width: 100%;
    height: 100vh;
    background-color: #ff0000;
}

main section:nth-child(even) {
    width: 100%;
    height: 100vh;
    background-color: #ff0000;
}
