@font-face {
    src: url("../fonts/Tippa.ttf");
    font-family: "Tippa";
}

@font-face {
    src: url("../fonts/Essays1743-Bold.ttf");
    font-family: "Essays1743-Bold";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    width: inherit;
    list-style: none;
    justify-content: center;
    align-content: center;
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1;
    font-size: 18px;
    transition: all 0.5s ease-out;
}

.max-header {
    background-color: #000000;
    height: 180px;
}

.min-header {
    background-color: #AF0000;
    height: 120px;
}

.container {
    padding: 0;
    margin: 0 auto;
}
.container-menu {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 60px;
    display: grid;
    grid-template-areas:
        "lgo ... nav";
    grid-auto-columns: auto 1fr auto;
    align-content: center;
}

/* inicio logo */
.logo {
    grid-area: lgo;
}
.max-logo svg {
    width: 250px;
    height: auto;
    fill: #ffffff;
}
.min-logo svg {
    width: 160px;
    height: auto;
    fill: #000000;
}

/*fim logo
=============================
inicio menu midias*/

.facebook {
    grid-area: mnu;
}
.max-facebook svg {
    width: 80px;
    fill: #ffffff;
}
.min-facebook svg {
    width: 20px;
    fill: #ffffff;
}
.youtube {
    grid-area: mnu;
}
.max-youtube svg {
    width: 60px;
    fill: #ffffff;
}
.min-youtube svg {
    width: 20px;
    fill: #ffffff;
}
.instagram {
    grid-area: mnu;
}
.max-instagram svg {
    width: 55px;
    fill: #ffffff;
}
.min-instagram svg {
    width: 20px;
    fill: #ffffff;
}
.spotify {
    grid-area: mnu;
}
.max-spotify svg {
    width: 60px;
    fill: #ffffff;
}
.min-spotify svg {
    width: 20px;
    fill: #ffffff;
}

/* fim menu midias
==============================
*/

.nav-bar {
    grid-area: nav;
    display: grid;
    align-content: center;
}

.nav-bar ul {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
}

.nav-bar a {
    font-family: "Essays1743-Bold";
    text-transform: uppercase;
    transition: all 0.4s ease-out;
}
.nav-bar svg {
	display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
}

.max-nav a {
    font-size: 1em;
    color: #ffffff;
}

.min-nav a {
    font-size: 0.875em;
    color: #000000;
}

.ghost {
    width: 100%;
    height: 175px;
    background-color: #ff0000;
}

@media(max-width: 768px) {
    .max-header {
        height: 140px;
        z-index: 999;
    }

    .min-header {
        height: 100px;
    }

    .container-menu {
        position: relative;
        padding: 0 20px;
        grid-template-areas:
            "lgo ... mnu";
    }

    .max-logo svg {
        width: 180px;
        height: auto;
        fill: #ff0000;
    }

    .min-logo svg {
        width: 140px;
        height: auto;
        fill: #000000;
    }

    .menu {
        grid-area: mnu;
        display: grid;
        align-content: center;
    }
    
    .hamburger {
        position: relative;
        width: 40px;
        height: 3px;
    }
    .hamburger::before {
        content: "";
        position: absolute;
        top: -8px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ff0000;
    }
    .hamburger::after {
        content: "";
        position: absolute;
        top: 8px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ff0000;
    }
    .max-hamburger, max-hamburger::before, max-hamburger::after {
        background-color: #ff0000;
    }
    .min-hamburger, min-hamburger::before, min-hamburger::after {
        background-color: #ff0000;
    }

    .nav-bar {
        position: absolute;
        left: 0;
        width: 100%;
        background-color: rgba(99, 00, 00, 0.9);
        transform: translateX(-100%);
        transition: all 0.4s ease-out;
        z-index: 0;
    }

    .max-nav {
        top: 140px;
        height: calc(100vh - 140px);
    }

    .min-nav {
        top: 100px;
        height: calc(100vh - 100px);
    }

    .menu-opened {
        transform: translateX(0);
        z-index: 0;
    }

    .nav-bar #menu {
        justify-content: center;
        grid-auto-flow: row;
        grid-gap: 40px;
    }
    .nav-bar #midia {
        justify-content: center;
        grid-auto-flow: column;
        grid-gap: 20px;
    }

    .nav-bar li {
        text-align: center;
    }

    .min-nav a {
        font-size: 1.40em;
        color: #ffffff;
    }
}

main {
    position: relative;
    font-size: 18px;
    max-width: 100%;
}

main section {
    padding-top: 120px;
    display: grid;
    justify-content: space-around;
    align-content: flex-start;
    font-family: "Tippa";
    font-size: 1em;
    color: #ffffff;
}

main section:nth-child(odd) {
    width: 100%;
    height: 100vh;
    background-color: #ff0000;
}

main section:nth-child(even) {
    width: 100%;
    height: 100vh;
    background-color: #ff0000;
}
