@font-face {
    src: url("../fonts/Tippa.ttf");
    font-family: "Tippa";
}

@font-face {
    src: url("../fonts/Essays1743-Bold.ttf");
    font-family: "Essays1743-Bold";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    width: inherit;
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.hover {
    width: 30px;
    height: 32px;
}

.hover:hover {
    background-color: #ffffff;
}

.hover:hover path {
    fill: #000000;
}

/*=====HEADER=====*/
header {
    position: fixed;
    width: 100%;
    z-index: 1;
    font-size: 18px;
    transition: all 0.5s ease-out;
}

.max-header {
    background-color: #000000;
    height: 180px;
}

.min-header {
    background-color: #AF0000;
    height: 120px;
}

/*=====CONTAINERS=====*/
.container {
    padding: 0;
    margin: 0 auto;
}

.container-menu {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 60px;
    display: grid;
    grid-template-areas:
        "lgo ... nav";
    grid-auto-columns: auto 1fr auto;
    align-content: center;
}

/*=====LOGO-BANDA=====*/
.logo {
    grid-area: lgo;
}

.logo svg {
    fill-opacity: 0;
    transition: all 0.9s ease-out;
}

.max-logo svg {
    width: 250px;
    height: auto;
    fill: #ff0000;
}

.min-logo svg {
    width: 160px;
    height: auto;
    fill: #000000;
}

/*=====LOGOS MÍDIAS SOCIAIS=====*/
.midia {
    justify-content: center;
}

.facebook {
    grid-area: mnu;
    display: grid;
    align-content: center;
    justify-content: center;
}

.facebook svg {
    transition: all 0.9s ease-out;
}

.max-facebook svg {
    width: 22px;
    fill: #ffffff;
    align-content: center;
    justify-content: center;
}

.min-facebook svg {
    width: 20px;
    fill: #000000;
    align-content: center;
    justify-content: center;
}

.youtube {
    grid-area: mnu;
    display: grid;
    align-content: center;
    justify-content: center;
}

.youtube svg {
    transition: all 0.9s ease-out;
}

.max-youtube svg {
    width: 26px;
    fill: #ffffff;
    align-content: center;
    justify-content: center;
}

.min-youtube svg {
    width: 24px;
    fill: #000000;
    align-content: center;
    justify-content: center;
    align-content: center;
    justify-content: center;
}

.instagram {
    grid-area: mnu;
    display: grid;
    align-content: center;
    justify-content: center;
}

.instagram svg {
    transition: all 0.9s ease-out;
}

.max-instagram svg {
    width: 23px;
    fill: #ffffff;
    align-content: center;
    justify-content: center;
}

.min-instagram svg {
    width: 21px;
    fill: #000000;
    align-content: center;
    justify-content: center;
}

.spotify {
    grid-area: mnu;
    display: grid;
    align-content: center;
    justify-content: center;
}

.spotify svg {
    transition: all 0.9s ease-out;
}

.max-spotify svg {
    width: 25px;
    fill: #ffffff;
    align-content: center;
    justify-content: center;
}

.min-spotify svg {
    width: 23px;
    fill: #000000;
    align-content: center;
    justify-content: center;
}

/*=====WEB-NAV-BAR=====*/
.web-nav-bar {
    grid-area: nav;
    display: grid;
    align-content: flex-end;
}

.web-nav-bar #menu1 {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    justify-content: center;
}

.web-nav-bar #midia {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    justify-content: center;
}

.web-nav-bar a {
    position: relative;
    font-family: "Essays1743-Bold";
    text-transform: uppercase;
    transition: all 0.4s ease-out;
}

.web-nav-bar #menu1 a::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform-origin: left;
    transform: scaleX(0);
    transition: all 0.3s ease-out;
}

.web-nav-bar a {
    position: relative;
    font-family: "Essays1743-Bold";
    text-transform: uppercase;
    transition: all 0.4s ease-out;
}

.web-nav-bar #menu1 a::after {
    content: "";
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform-origin: right;
    transform: scaleX(0);
    transition: all 0.3s ease-out;
}

.web-nav-bar #menu1 a:hover::before, #menu1 a:hover::after {
    transform: scaleX(1);
}

/*=====MOBILE-NAV-BAR=====*/
.mobile-nav-bar {
    grid-area: nav;
    display: grid;
    align-content: flex-end;
}

.mobile-nav-bar #menu1 {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    justify-content: center;
}

.mobile-nav-bar #midia {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    justify-content: center;
}

.mobile-nav-bar a {
    position: relative;
    font-family: "Essays1743-Bold";
    text-transform: uppercase;
    transition: all 0.4s ease-out;
}

.mobile-nav-bar #menu1 a::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform-origin: left;
    transform: scaleX(0);
    transition: all 0.3s ease-out;
}

.mobile-nav-bar a {
    position: relative;
    font-family: "Essays1743-Bold";
    text-transform: uppercase;
    transition: all 0.4s ease-out;
}

.mobile-nav-bar #menu1 a::after {
    content: "";
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform-origin: right;
    transform: scaleX(0);
    transition: all 0.3s ease-out;
}

.mobile-nav-bar #menu1 a:hover::before,
#menu1 a:hover::after {
    transform: scaleX(1);
}


.max-nav a {
    font-size: 1em;
    color: #ffffff;
}

.min-nav a {
    font-size: 0.875em;
    color: #000000;
}

.ghost {
    width: 100%;
    height: 175px;
    background-color: #ff0000;
}

@media(max-width: 768px) {
    header {
        z-index: 3;
    }

    .web-nav-bar {
        display: none;
    }

    .mobile-nav-bar {
        display: grid;
        z-index: 2;
    }

    .max-header {
        height: 140px;
    }

    .min-header {
        height: 100px;
    }

    .container-menu {
        position: relative;
        padding: 0 20px;
        grid-template-areas:
            "lgo ... mnu";
    }

    .max-logo svg {
        width: 180px;
        height: auto;
        fill: #ff0000;
    }

    .min-logo svg {
        width: 140px;
        height: auto;
        fill: #000000;
    }

    .menu {
        grid-area: mnu;
        display: grid;
        align-content: center;
    }

    .hamburger {
        position: relative;
        width: 50px;
        height: 5px;
        transition: all 0.4s ease-out;
    }

    .hamburger::before {
        content: "";
        position: absolute;
        top: -12px;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.4s ease-out;
        background-color: #ff0000;
    }

    .hamburger::after {
        content: "";
        position: absolute;
        top: 12px;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.4s ease-out;
        background-color: #ff0000;
    }

    .max-hamburger, .max-hamburger::before, .max-hamburger::after {
        background-color: #ff0000;
    }

    .min-hamburger, .min-hamburger::before, .min-hamburger::after {
        background-color: #ff0000;
    }

    .close-btn {
        width: 50px;
        transform: rotateZ(45deg);
    }

    .close-btn::before, .close-btn::after {
        top: 0;
        transform: rotateZ(90deg);
    }

    .mobile-nav-bar {
        position: fixed;
        top: 0px;
        right: 0;
        width: 100%;
        height: calc(100vh - 140px);
        align-content: flex-start;
        background-color: rgba(99, 00, 00, 0.8);
        transform-origin: 20px;
        transform: translateY(-100%);
        transition: all 0.5s ease-out;
    }

    .mobile-nav-bar #menu1 {
        display: grid;
        grid-auto-flow: row;
        grid-gap: 8px;
        padding: 20px 0;
    }
    .mobile-nav-bar #midia {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 10px;
    }
    .mobile-nav-bar #menu1 a:onClick::before, #menu1 a:hover::after {
    transform: scaleX(1);
}

    .hover {
        width: 60px;
        height: 60px;
        display: grid;
        align-content: center;
        justify-content: center;
    }   
    .max-facebook svg {
        width: 42px;
        fill: #ffffff;
        display: grid;
        padding: 5px 0;
    }
    .max-youtube svg {
        width: 46px;
        fill: #ffffff;
        display: grid;
        padding: 5px 0;
    }
    .max-instagram svg {
        width: 43px;
        fill: #ffffff;
        display: grid;
        padding: 5px 0;
    }
    .max-spotify svg {
        width: 45px;
        fill: #ffffff;
        display: grid;
        padding: 5px 0;
    }

    .max-nav {
        top: 140px;
        height: calc(100vh - 140px);
    }

    .min-nav {
        top: 100px;
        height: calc(100vh - 100px);
    }

    .menu-opened {
        transform: translateY(0);
    }

    .mobile-nav-bar li {
        text-align: center;
        font-size: 1.8em;
    }

    .min-nav a {
        font-size: 1em;
        color: #ffffff;
    }
}

main {
    position: relative;
    font-size: 18px;
    max-width: 100%;
}

main section {
    padding-top: 140px;
    display: grid;
    justify-content: space-around;
    align-content: flex-start;
    font-family: "Tippa";
    font-size: 1em;
    color: #ffffff;
    z-index: 1
}

main section:nth-child(odd) {
    width: 100%;
    height: 100vh;
    background-color: #ff0000;
}

main section:nth-child(even) {
    width: 100%;
    height: 100vh;
    background-color: #ff0000;
}